@media screen and (min-width:600px)
{
    .posts
    {
        margin-left: auto; 
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(200px, 420px);
        gap:2em;
    }
}

@media screen and (max-width:600px)
{
    .postGrid
    {
        margin-bottom: 20px;
    }

}

.postGrid
{
    background-color: rgba(230, 230, 230, 0.308);
    position: relative;
    -webkit-transition: all 400ms;
}

.postGrid:hover, .postGridImage:hover
{
    transform: translateY(-6px);
    transition: all 200ms;

}

.postGridImage
{
    width: 100%;
    height: 100%;
    filter: brightness(70%) invert(5%);
}

.postGridInformation
{
    color: white;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 10px;
}

.postGridTitle
{
    font-size: 5vmin;
    margin: 0;
}

.postGridDate
{
    font-size: 63%;
}

.postGridCategory
{
    font-size: 80%;
}

.morePostsButtonArea
{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.morePostsButton
{
    width:100%;
    padding: 7px;
    cursor: pointer;
    background-color: rgba(160, 160, 160, 0.096);
    border: 1.5px solid rgb(160, 160, 160);
    border-radius: 3px;
    
}