@media screen and (min-width:800px)
{
    html, body
    {
        width: 87%;
    }

}

@media screen and (max-width:800px)
{
    html, body
    {
        width: 94%;
    }

}

html, body
{
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
}

body{font-size: 100%;}