.footer
{
  width: 100%;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  margin-bottom: 20px;
  display:inline-block;
  text-align: center;
}

.fa-linkedin, .fa-github, .fa-envelope, .fa-hackerrank, .fa-kaggle, .fa-square-root-alt
{
  color: rgba(0, 0, 0, 0.61);
  margin-right: -6px;
  padding: 10px;
  font-size: 23px;
  width: 20px;
  height: 20px;
  
}