.headerArea
{
    margin-top: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:870px)
{
    .headerArea
    {
        flex-wrap: nowrap;
        background-image: url("https://drive.google.com/uc?id=1pgByDR1LKavmj_hHA1PcPvfiv5CxY2w1");
        background-repeat: no-repeat;
        background-position: 24%;
        background-size: 27vmax;
    }

    .headerImage
    {
        width: 0px;
        height: 0px;
    }
    
}

.headerTitleArea
{
    background-color: rgba(160, 160, 160, 0.185);
    padding-right: 3%;
    padding-left: 3%;
}

.title
{
    white-space: pre-line;
    font-weight: 100;
    font-size: 250%;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 300;
    clear: both;
}

.verticalLine
{
    border-left: 1px outset black;
    height: 185px;
    margin-left: 10px;
}

.headerImage
{
    margin-top: 35px;
    margin-right: -12px;
    height: 160px;
    margin-left: 20px;
}

.listHeaderCategories
{   
    margin-left: auto;
    top: 40px;
    display: inline-block;
    padding: 0;
    list-style-type:none;
}

.headerCategoryArea
{
    display: inline-block;
    margin-bottom: 5px;
}

.headerCategoryFont
{
    font-weight: 100;
    cursor: pointer;
}

.headerCategoryFont:hover
{
    color: rgb(151, 151, 151);
}

.horizontalLine
{
    width: 100%;
    height: 0.9px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}