.PostArea
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border-bottom: 4px solid black;
    margin-bottom: 30px;
}

.postInfo
{
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 8px #000;
    position: relative;
}

.postImage, .postImage::before
{
    width: 100%;
    filter: brightness(70%);
    max-height: 550px;
    min-height: 250px;
    height: 100%;
}


@media screen and (min-width:840px)
{
    .postInfo
    {
        margin: auto;
        width: 60%;
    }
}

.postHeaderText
{
    overflow-wrap: break-word; 
    word-break: break-word;
    white-space: pre-wrap;
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;;;
}

.postTitleX
{
    padding-left: 3%;
    padding-right: 3%;
    font-size: 2.2vh;
}

.postDate
{
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.6vh;
}

.commentsArea
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgb(34, 34, 34);
    padding: 4%;
    margin-bottom: 20px;
}

.commentInputLabel
{
    color: white;
}

.nickInput, .emailInput, .commentInput
{
    width: 98.8%;
    margin-top: 6px;
}

.nickInput, .emailInput
{
    height: 20px;
    margin-bottom: 10px;
}

.commentInput
{
    height: 50px;
    margin-bottom: 10px;
}

.commentPostButton
{
    margin-bottom: 0px;
    margin-right: 10px;
}

.userCommentArea
{
    display: block;

    background-color: rgba(255, 255, 255, 0.973);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.childUserCommentArea
{
    margin-left: auto;
}

@media screen and (min-width:800px)
{
    .childUserCommentArea
    {
        width: 86%;
    }
}

@media screen and (max-width:800px)
{
    .childUserCommentArea
    {
        width: 74%;
    }
}

.userCommentNick
{
    padding-top: 15px;   
    margin-bottom: -7px;
}

.userCommentDate
{
    color: gray;
    font-size: 85%;
    margin-bottom: -7px;
}

.userCommentContent
{
    margin-bottom: 1px;
}

.userCommentReply
{
    color: gray;
    font-size: 85%;
    padding-bottom: 20px;
    cursor: pointer;
}

