.footer
{
  width: 100%;
  height: fit-content;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  overflow: hidden;
  display: table;
  margin-bottom: 20px;
}

.footerSocialIconsArea
{
  display: flex;
  width: fit-content; 
  height: fit-content;
  position: relative;
  top:5%;
  float:left;
}

.fa 
{
    padding: 10px;
    font-size: 23px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}
  
.fa-linkedin, .fa-github, .fa-envelope
{
  color: black;
  margin-right: -6px;
}

.footerEmailArea
{
  width: 10px;
  display: table-cell;
  vertical-align: middle;
  height: 20px;
}

.footerEmailFont
{
  font-weight: bolder;
  font-size: 90%;
}