html, body
{
    font-family: 'Times New Roman', Times, serif;
}

.mainScreen
{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:800px)
{
    .mainScreen
    {
        width: 65%;
    }
}

@media screen and (max-width:800px)
{
    .mainScreen
    {
        width: 85%;
    }
}